body {
    margin: 0px;
    font-family: 'PT Sans';
    font-weight: 700;
}

.line {
    background-image: url("./img/line.png");
    height: 90px;
}

.logo {
    margin-left: 138px;
    margin-top: 10px;
}

.menu {
    position: absolute;
    left: 609px;
    top: 18px;
    z-index: 5;
}

#head {
    background-color: #C6C6DC;
    height: 140px;
}

.head {
    position: relative;
    left: 227px;
    top: 45px;
}

.button {
    text-align: center;
}

#button {
    width: 1489px;
    height: 73px;
    position: relative;
    top: 50px;
}

.text {
    font-weight: 400;
    font-size: 28px;
    color: rgba(0, 0, 0, 61%)
}

.polygon {
    position: relative;
    left: -49px;
    top: 55px;
}

#logo {
    position: relative;
    left: 1746px;
    top: -70px;
}

.logo2 {
    height: 0;
}

#houseone {
    background-image: url("./img/Rectangle\ 19.png");
    height: 300px;
    background-repeat: no-repeat;
    position: relative;
    left: 230px;
    top: 414px;
}

.houseone {
    position: relative;
    left: 103px;
    top: 40px;
}
.nameone{
    color: #353C57;
    font-size: 36px;
   
}